<div class="flex justify-between items-center my-4">
  <h1 class="font-bold text-4xl">Utilisateurs</h1>
  <%= link_to 'New User', new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>

<div class="overflow-x-auto rounded-lg border border-gray-200 w-full">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
      <tr class="center">
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Name
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Date of Birth
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Role
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Phone
        </th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <%= render @users %>
    </tbody>
  </table>
</div>
